{% extends "perart/admin.html" %}
{% load tea %}

{% block admin_content %}

<h2>Menu Editing for project: <b>{{ program.title }}</b></h2>

<form method="post" enctype="multipart/form-data" action="{% url perart.admin_program_menu_edit program.key %}">
  <div class="tea-form">
    {% if error %}<ul class="errorlist"><li>{{ error }}</li></ul>{% endif %}
	<textarea name="menu" rows="30" style="width: 98%";>{{ program.menu }}</textarea>
	<div class="submit-row">
      <input class="default" type="submit" value="Save"/>
    </div>
  </div>
</form>

<table style="float: left; margin-right: 3em;"><thead><tr><th>Links (L)</th></tr></thead></table>

<table style="float: left; margin-right: 3em;">
  <thead><tr><th colspan="2">Projects (P)</th></tr></thead>
  <tbody>
    {% for project in program.project_set %}
    <tr><td>{{ forloop.counter }}</td><td>{{ project }}</td></tr>
    {% endfor %}
  </tbody>
</table>

<table style="float: left">
  <thead><tr><th colspan="2">Galleries (G)</th></tr></thead>
  <tbody>
    {% for gallery in program.gallery_set %}
    <tr><td>{{ forloop.counter }}</td><td>{{ gallery }}</td></tr>
    {% endfor %}
  </tbody>
</table>



{% endblock %}