{% extends "perart/admin.html" %}

{% block admin_content %}

{% if removed %}
<p id="removed">Project deleted</p>
{% endif %}

<p><a href="{% url perart.admin_project_edit %}">Add new project</a><br/></p>

<table class="formatted" cellspacing="0" cellpadding="0">
  <thead>
    <tr>
      <td width="350">Title</td>
      <td width="120">Program</td>
      <td width="120">Edit</td>
      <td width="120">Delete</td>
    </tr>
  </thead>
  <tbody>
  {% for project in object_list %}
    <tr id="row_{{ project.key }}">
      <td>{{ project.title|escape }}</td>
      <td>{{ project.program }}</td>
      <td><a href="{% url perart.admin_project_edit project.key %}">Edit</a></td>
      <td><a href="{% url perart.admin_project_remove project.key %}"
             onclick="return confirm('Are you sure? This action cannot be undone!')">Delete</a></td>
    </tr>
  {% endfor %}
  </tbody>
</table>

{% endblock %}