{% extends "base.html" %}

{% block title %}{% if title %}{{ title }} | {% endif %}{{ site_title }}{% endblock %}

{% block extracss %}
<link href="/static/css/admin.css" type="text/css" rel="stylesheet"></link>
<link href="/static/css/tea-form.css" type="text/css" rel="stylesheet"></link>
<link href="/static/css/tiny_mce.css" type="text/css" rel="stylesheet"></link>
<link href="/static/css/jquery-ui/jquery-ui-1.8.5.custom.css" type="text/css" rel="stylesheet"></link>
{% endblock %}

{% block extrajs %}
<script src="/static/js/tiny_mce/jquery.tinymce.js"></script>
<script>
$(function() {
  // Notify the user if a page was added/saved by blinking it with green
  $('#row_{{ saved }}').animate({backgroundColor: '#00FF00', color: '#FFFFFF'}, 'slow').
                        animate({backgroundColor: '#FFFFFF', color: '#111111'}, 'slow');
  
  // Notify the user with a red blink that a page was deleted
  $('#removed').animate({backgroundColor: '#FFFF00', color: '#FFFFFF'}, 'slow').
                animate({backgroundColor: '#FFFFFF', color: '#111111'}, 'slow');
  $('#id_published').datepicker();
});
</script>
{% block extrascripts %}{% endblock %}
{% endblock %}

{% block bodyclass %}admin{% endblock %}

{% block content %}
<table id="admin-menu" cellspacing="0" cellpadding="0"><thead><tr>
<th{% ifequal page "project" %} class="selected"{% endifequal %}><a href="{% url perart.admin_project_list %}">Projects</a></th>
<th{% ifequal page "news" %} class="selected"{% endifequal %}><a href="{% url perart.admin_news_list %}">News</a></th>
<th{% ifequal page "program" %} class="selected"{% endifequal %}><a href="{% url perart.admin_program_list %}">Programs</a></th>
<th{% ifequal page "gallery" %} class="selected"{% endifequal %}><a href="{% url perart.admin_gallery_list %}">Galleries</a></th>
<th{% ifequal page "main_menu" %} class="selected"{% endifequal %}><a href="{% url perart.admin_settings_main_menu_edit %}">Main Menu</a></th>
</tr></thead></table>
<div id="admin-content">{% block admin_content %}Nothing here to see, move along!{% endblock %}</div>
{% endblock %}

{% block footer %}
<p>&copy; 2009 <a href="mailto:alefnula@gmail.com">Viktor Kerkez</a>. <a href="{{ logout_url }}">Log out</a></p>
{% endblock %}
