{% extends "teacupcms/admin.html" %}


{% block admin_content %}

<form method="post" action="{% url teacupcms.admin_page_edit %}">
	<input type="hidden" name="key" value="{% if page %}{{ page.key }}{% endif %}" />
	<input type="hidden" name="url" id="url" value="{% if url %}{{ url|escape }}{% else %}page{% endif %}" />
	<table style="width:100%">
		<tr>
			<td width="150"><label for="title" width="120">Page title</label></td>
			<td><input type="text" name="title" id="title" style="width: 300px;" value="{% if page %}{{ page.title|escape }}{% endif %}" /></td>
		</tr>
		<tr>
			<td colspan="2">
				<input type="checkbox" name="front" id="front" {% if front %}checked="CHECKED"{% endif %}/>
				<label for="front">Use this page as the site front page</label>
				{% if front %}<br />NB! You can't remove a page from the front page by unchecking the checkbox - the only way is to replace it with an another page by setting it as the front page.{% endif %}
			</td>
		</tr>
		<tr>
			<td colspan="2">		
				<input type="checkbox" name="draft" id="draft" {% if draft %}checked="CHECKED"{% endif %}/>
				<label for="draft">Draft</label>
			</td>
		</tr>
		<tr>
			<td>Page URL</td>
			<td style="font-weight: bold;">/page/<span id="url_str">{% if url %}{{ url|escape }}{% else %}page{% endif %}</span></td>
		</tr>
		<tr>
			<td width="150"><label for="superpage" width="120">Parent</label></td>
			<td>
				<select name="superpage" id="superpage">
				<option value=""> - Top -</option>
				{% for link in links %}
				<option value="{{ link.key|escape }}"{% ifequal superpage link.key %} selected="SELECTED"{% endifequal%}>{{ link.title|escape }}</option>
				{% endfor %}
				</select>
			</td>
		</tr>
		<tr>
			<td colspan="2"><label for="content">Page content</label></td>
		</tr>
		<tr>
			<td colspan="2"><textarea name="content" id="content" style="width: 100%; height: 240px;">{% if page %}{{ page.content|escape }}{% endif %}</textarea></td>
		</tr>
		<tr>
			<td colspan="2"><input type="submit" name="ok" value="Save page" /></td>
		</tr>
	</table>
</form>

<h2>Images and files</h2>

{% spaceless %}
<div class="tabs"><div class="tab selected_tab" id="upload_tab">Upload</div><div class="tab" id="manager_tab">Manager</div><div style="clear: both; overflow:hidden;"></div></div><div id="mediaupload" class="mediaupload">
	<form method="post" style="margin:0;padding:0;" enctype="multipart/form-data" action="{% url teacupcms.admin_media_upload %}" target="upload_target" onsubmit="$('#upload_wait').show(); $('#upload_submit').attr('disabled', true);">
		<table style="width: 100%">
			<tr>
				<td><label for="file" width="120">Select file</label></td>
				<td><input type="file" name="file" id="file" /></td>
			</tr>
			<tr>
				<td colspan="2">
					<span class="stay_low">NB! Max. file size 1 MB.</span>
				</td>
			</tr>
			<tr>
				<td><label for="description" width="120">Description</label></td>
				<td><input type="text" name="description" id="description" style="width: 500px"/></td>
			</tr>
			<tr id="upload_messages">
				<td colspan="2"></td>
			</tr>
			<tr>
				<td colspan="2"><input type="submit" id="upload_submit" name="ok" value="Upload file" /> <img id="upload_wait" style="display: none" src="/static/images/wait.gif" /></td>
			</tr>
		</table>
	</form>
	<iframe style="display:none" id="upload_target" name="upload_target"></iframe>
</div>

<div id="medialist" class="medialist" style="display: none">
	<div id="medialist_files" class="medialist_files"></div>
	<div style="clear:both"></div>
</div>

{% endspaceless %}

{% endblock %}
